[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
zmq = "*"
wxpython = "*"
netifaces = "*"
pyserial = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.8"
